<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Pokedex </title>
    <link rel="stylesheet" href="/css/detalhes.css" type="text/css">
</head>
<header class="cabecalho">
    <h1> <img src="https://pokedex.sleduardo.dev/img/logo.svg" alt="Pokédex"></h1>
</header>
<body>
    <main>
        <div class="principal">
        <% pokemonAtual.forEach(element => { %>
            <div class="card-container"> 
                <div class="header-card">
                    <span class="card-number"> Nº <%= element.num %>  </span>
                </div>
                <div class="main-card"> 
                    <img src="<%= element.img %> " alt="<%= element.name %> ">
                    <div class="card-name"> <%= element.name %>  </div>
                    <div class="data-card"> 
                        <span class="weight-info"> Peso</span>  
                        <span class="weight"><%= element.weight %>  </span> 
                        <span class="height-info"> Altura</span> 
                        <span class="height"><%= element.height %>  </span>
                    </div>                    
                </div>
                <div class="footer-card"> <%= element.type[0] %>  <%= element.type[1] %> </div>
            </div>
        <% }) %>
    </div>

    <div class="sub">
        <% pokemonAtual.forEach(element => { %>
            <div class="card-container-sub"> 
              <div class="info-adicional">
                  <p>Informações Adicionais</p>
              </div>
              <div class="titulo">
                  <span> DOCE </span>
                  <span> FRAQUEZAS </span>
                  <span> KM DE OVOS </span>
              </div>
            <div class="infos">
                <div class="candy"><%= element.candy %>  </div>
                <div class="fraqueza">
                    <ul>  
                        <div><%= element.weaknesses[0] %> </div>
                        <div><%= element.weaknesses[1] %> </div>
                        <div><%= element.weaknesses[2] %> </div>
                        <div><%= element.weaknesses[3] %> </div>
                        <div><%= element.weaknesses[4] %> </div>
                        <div><%= element.weaknesses[5] %> </div>
                        <div><%= element.weaknesses[6] %> </div>
                    </ul>
                </div>
                <div class="ovo"><%= element.egg %> </div>
            </div>
        <% }) %>
    </div>
    </main>
</body>
<footer class="rodape"> 
    <span>GITHUB: LUCASVM1</span>
    <span>CRIADO POR LUCAS VIANA</span>
</footer>
</html>